{% paginate collections.all.products by 8 %}
    {% for product in collections.all.products %}
        {% render 'product-card', product: product %}
    {% else  %}
        <p>No products found</p>
    {% endfor %}
    {% render 'pagination', pagination: paginate %}
{% endpaginate %}